<!doctype html>





  {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
        </ul>
     {% endif %}
  {% endwith %}

  <h1>Flask Message Flashing Example</h1>
  <p class="tip-login">Do you want to <a href = "{{ url_for('login') }}">
     <b>log in?</b></a></p>

    <button onclick="mybutton()">点击测试js事件</button>

<script>
    function mybutton() {
        alert('abc')
    }
</script>

<style>
    .tip-login{
        color: aquamarine;
        border: 1px solid rebeccapurple;
    }
</style>